/* General Section Styles */

.adhesion-avantageAdhesion {
    max-width: 95%;
    padding: 50px;
}

.adhesion-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
        url('../images/gallery-4.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2em 0 0 0;
}

.adhesion-content {
    max-width: 50%;
    color: white;
    padding: 2em;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    background: rgba(0, 0, 0, 0.3);
}

.adhesion-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.adhesion-description {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 1.2em;
}

/* Media Queries for Responsiveness */

/* Tablet and smaller devices */
@media (max-width: 1024px) {
    .adhesion-section {
        height: 60vh;
        /* border-radius: 1em; */
    }

    .adhesion-content {
        max-width: 70%;
        padding: 1.5em;
    }

    .adhesion-title {
        font-size: 2em;
    }

    .adhesion-description {
        font-size: 1em;
    }
}

/* Mobile Devices */
@media (max-width: 768px) {
    .adhesion-section {
        height: 30vh;
        background-position: top;
        /* border-radius: 1em; */
        padding: 20px;
    }

    .adhesion-content {
        max-width: 90%;
        padding: 1.2em;
    }

    .adhesion-title {
        font-size: 1.8em;
    }

    .adhesion-description {
        font-size: 0.95em;
        line-height: 1.4;
    }
}

/* Small mobile devices */
@media (max-width: 480px) {
    .adhesion-avantageAdhesion {
        /* max-width: 100%; */
        padding: 30px;
    }

    .adhesion-section {
        height: auto;
        padding: 10px;
        /* border-radius: 0.5em; */
    }

    .adhesion-content {
        max-width: 100%;
        padding: 1em;
    }

    .adhesion-title {
        font-size: 1.6em;
    }

    .adhesion-description {
        font-size: 0.9em;
        line-height: 1.3;
    }
}

@media (max-width: 425px) {
    .adhesion-avantageAdhesion {
        /* max-width: 100%; */
        padding: 10px;
    }
}